.dropdown-wrap {
  position: absolute;
  border: 1px solid #1565c0;
  top: 45px;
  right: 0;
  z-index: 2;
  background-color: white;
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #1565c0;
  }
}